.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
}

body{
    background-size: cover;
}

.copy_right_footer {
    position: fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 2;
    text-align: center;
 }

 video {
     background-size: cover;
     background-position: center;
     padding: 25px;
 }
